#featured{
  img{
    height: 100%;
    object-fit: cover;
  }

  .card{
    border-radius: 4px;
    overflow: hidden; /* Esconde o que passar do limite do card */
    position: relative; /* Para poder posicionar o card::before */

    &:before{ /* Mesma coisa que card::before */
      content: "";
      position: absolute; /* Para poder posicionar o elemento */
      background: linear-gradient(180deg, transparent, #020617);
      inset: 0; /* Posiciona o elemento em todos os lados */
      top: 50%;
    }

    figcaption{
      position: absolute;
      bottom: 0;

      padding: 24px;

    &:has(.text-lg){ /* Se tiver um elemento com a classe text-lg */
      padding: 12px;
    }

      h2{
        margin-top: 8px;
      }
    }
  }
}