section header{
  border-top: 1px solid var(--stroke-color);
  padding-block: 12px 24px; /* 12px em cima e em baixo, 24px na esquerda e direita */
  font: var(--text-span);

  a{
    justify-self: end;
    align-items: center;
    gap: 8px;

    span {
      background-image: url(../assets/icons/ArrowRight.svg);
      width: 16px;
      height: 16px;
      transition: 0.1s ease-in-out;
    }

    &:hover span{
      background-image: url(../assets/icons/ArrowRight-hover.svg);
      transition: 0.1s ease-in-out;
      
    }
  }
}

#featured{
  grid-area: featured; /* Ocupa a área featured */
  img{
    height: 100%;
    object-fit: cover;
  }

  .card{
    border-radius: 4px;
    overflow: hidden; /* Esconde o que passar do limite do card */
    position: relative; /* Para poder posicionar o card::before */

    &:before{ /* Mesma coisa que card::before */
      content: "";
      position: absolute; /* Para poder posicionar o elemento */
      background: linear-gradient(180deg, transparent, #020617);
      inset: 0; /* Posiciona o elemento em todos os lados */
      top: 50%;
    }

    figcaption{
      position: absolute;
      bottom: 0;

      padding: 24px;

    &:has(.text-lg){ /* Se tiver um elemento com a classe text-lg */
      padding: 12px;
    }

      h2{
        margin-top: 8px;
      }
    }
  }
}

#weekly{
  grid-area: weekly;

  & > div{
    grid-template-columns: repeat(4, 292px);
  }

  img{
    height: 160px;
  }

  figure{
    position: relative;

    .content-tag{
      position: absolute;
      top: 8px;
      left: 8px;
    }

    p{
      margin-top: 8px;
      font-weight: 800;
    }
  }
}

#ai{
grid-area: ai;
  img{
    width: 176px;
    aspect-ratio: 1/1; /* Mantém a proporção do elemento */
    object-fit: cover;
  }

  h3{
    margin-block: 8px 4px; /* 8px em cima e em baixo, 4px na esquerda e direita */
  }
}

aside{
  grid-area: aside;
}

#more{
  h3{
    margin-top: 8px;
  }
  img{
    width: 72px;
    aspect-ratio: 1/1;
    object-fit: cover;
  }

}